body {
	text-align:center;
	padding-top:50px;
	font-size:xx-large;
	font-family:sans-serif;
	color:#008080;
	background-color:#FFCC88;
}
#answer {
	font-size:xx-large;
}
input[type=button] {
	background-color:green;
	font-size:x-large;
	color:white;
	border-radius:5px;
	padding:10px;
	margin:20px;
}
#send[disabled] {
	background-color:grey;
}